.footer {

  padding:35px 8%;

  background:#111;

  color:#f7ead8;


  display:grid;

  grid-template-columns:1fr 1fr 1fr;

  align-items:center;


  border-top:1px solid rgba(212,175,55,.3);

}


/* INSTAGRAM */

.footer-social a {

  display:flex;

  align-items:center;

  gap:10px;


  width:max-content;


  color:#f7ead8;

  transition:.3s ease;

}


.footer-social svg {

  font-size:28px;

  color:#d4af37;

}


.footer-social a:hover {

  color:#d4af37;

  transform:translateY(-3px);

}




/* CENTRO */

.footer-content {

  text-align:center;

}



.footer-content h3 {

  font-size:28px;

  color:#d4af37;

  margin-bottom:8px;

}



.footer-content p {

  margin-bottom:12px;

}



.footer-content span {

  font-size:14px;

  color:#b9a98b;

}




/* RESPONSIVE */

@media(max-width:700px){


.footer{

grid-template-columns:1fr;

gap:25px;

text-align:center;

}


.footer-social a {

margin:auto;

}


}