.hero {

min-height: calc(100vh - 95px);

padding: 70px 8%;

display:grid;
grid-template-columns: 1.1fr .9fr;
gap:50px;
align-items:center;


background:
radial-gradient(
circle at right,
rgba(139,30,45,.45),
transparent 35%
),
#141414;

}



.hero-info span {

color:#d4af37;
letter-spacing:2px;
text-transform:uppercase;

}



.hero-info h1 {

font-size: clamp(42px,6vw,75px);
line-height:.95;

margin:25px 0;

color:#fff4df;

}



.hero-info p {

font-size:20px;
line-height:1.6;

max-width:550px;

color:#dbcbb3;

}



.hero-info button {

margin-top:35px;

padding:15px 35px;

border:none;
border-radius:50px;

background:#8b1e2d;

color:white;

font-size:18px;

transition:.3s;

}



.hero-info button:hover {

background:#aa293c;

transform:translateY(-3px);

}




.hero-img {

border-radius:30px;

overflow:hidden;

border:1px solid rgba(212,175,55,.4);

box-shadow:
0 25px 70px rgba(0,0,0,.5);

}


.hero-img img {

width:100%;
display:block;

}



@media(max-width:900px){


.hero {

grid-template-columns:1fr;

padding-top:50px;

}


}