/* ============================= */
/* PRODUCTOS DESTACADOS */
/* ============================= */

.featured {

  padding: 90px 8%;

  background: #f7ead8;

  color: #222;

}


.section-label {

  color: #8b1e2d;

  text-transform: uppercase;

  letter-spacing: 2px;

  font-size: 14px;

  font-weight: bold;

  margin-bottom: 15px;

}



.featured h2 {

  font-size: 45px;

  margin-bottom: 45px;

}



.featured-cards {

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 25px;

}



.featured-card {

  background: white;

  padding: 35px;

  border-radius: 25px;


  border: 1px solid rgba(139,30,45,.15);


  box-shadow:
  0 15px 35px rgba(0,0,0,.08);


  transition: .3s ease;

}



.featured-card:hover {

  transform: translateY(-8px);


  box-shadow:
  0 20px 45px rgba(0,0,0,.15);

}



.featured-card h3 {

  font-size: 25px;

  margin-bottom: 15px;

  color:#8b1e2d;

}



.featured-card p {

  color:#4d4037;

  line-height:1.6;

}





/* ============================= */
/* CATALOGO PRODUCTOS */
/* ============================= */


.products {

  padding:90px 8%;

  background:#141414;

  color:#f7ead8;

}



.products h2 {

  font-size:45px;

  margin-bottom:45px;

}



.catalog-grid {

  display:grid;

  grid-template-columns:repeat(5,1fr);

  gap:28px;

}




.catalog-card {

  background:#201818;


  border-radius:22px;

  overflow:hidden;


  border:1px solid rgba(212,175,55,.35);


  transition:.3s ease;

}



.catalog-card:hover {

  transform:translateY(-8px);


  box-shadow:
  0 20px 45px rgba(0,0,0,.45);

}



.catalog-card img {

  width:100%;

  height:220px;


  object-fit:cover;


  display:block;

}



.catalog-card h3 {

  padding:18px;


  text-align:center;


  color:#f7ead8;


  font-size:20px;

}



/* ============================= */
/* RESPONSIVE */
/* ============================= */


@media(max-width:1100px){


.catalog-grid {

grid-template-columns:repeat(3,1fr);

}


}



@media(max-width:800px){


.featured-cards {

grid-template-columns:1fr;

}



.catalog-grid {

grid-template-columns:repeat(2,1fr);

}


}




@media(max-width:500px){


.catalog-grid {

grid-template-columns:1fr;

}



.catalog-card img {

height:180px;

}


.products h2,
.featured h2 {

font-size:35px;

}


}